* {
    font-family: Inter;
}
body {
    background-color: #E5E5E5;
}
@media (max-width:1440px){ 
    #logo {
        width: 1.94rem;
        height: 3rem;
        position: absolute;
        left: 4%;
        right: 37.43%;
        top: 4%;
        bottom: 0%;
    }

    #encrypt {
        width: 36rem;
        height: 3rem;
        line-height: 150%;
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        line-height: 150%;
        color: #0A3871;
        background: none;
        border: none;
        margin: 9.375rem 5rem;

    }
    #text-encrypt {
        position: absolute;
        width: 21.87rem;
        height: 89%;
        background: #FFFFFF;
        right: 0;
        left: 950px;
        top: 40px;
        box-shadow: 0px 24px 32px -8px;
        border-radius: 32px;
        text-align: center;
    }
    #text-encrypt h3 {
        margin-top: 10%;
    }
    #toy {
        margin-top: 20%;
        width: 336px;
        height: 304px;
        top: 18%;
    }
    #adver {
        display: flex;
        margin-left: 6%;
        margin-top: 12%;
        width: 60%;
    }
    #adver img {
        width: 10px;
        height: 10px;
        margin-top: 2.5%;
        margin-left: 1%;
    }
    #adver img:hover {
        background-color: lightslategray;
    }
    #adver p {
        margin-left: 1.5%;
    }
    button {
        width: 328px;
        height: 67px;
        border-radius: 24px;
        font-weight: 700;
        border: 1px solid #0A3871;
    }
    button:hover {
        cursor: pointer;
    }
    #bt-enc {
        background-color: #0A3871;
        color: white;
        margin-left: 6%;
    }
    #bt-des {
        background-color: #D8DFE8;
        color: #0A3871;
    }

    #text-encrypt h4 {
        width: 300px;
        height: 400px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        color: #495057;
        margin: auto;
        text-align: center;
        padding-top: 10%;
    }
    .copy-button {
        background-color: white;
        margin-top: 15%;
    }
}

@media (max-width:768px) {
    #container {
        display: flex;
        flex-direction: column;
    }
    #text-encrypt {
        height: auto;
        word-wrap: break-word;
        margin: 0 auto;
        left: 0;
        margin-top: 35rem;
        width: 20rem;
    }
    #text-encrypt img {
        display: none;
    }
    #elementos {
        position: absolute;
        height: 20rem;
        top: 58;
        margin: auto;
    }
    #text-encrypt h4 {
        height: auto;
    }
    #adver img {
        margin-top: 4.5%;
    }
    button {
        width: 18rem;
        height: 3.5rem;
        border-radius: 24px;
    }
    .copy-button {
        background-color: white;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }

}
@media (max-width: 375px) {
    button {
        width: 13rem;
        height: 2rem;
        border-radius: 24px;
        margin: auto;
    }
    #bt-enc {
        width: 14rem;
        margin: auto;
        margin-top: 45%;
    }
    #bt-des {
        width: 14rem;
        margin-top: 5% ;
    }
    #text-encrypt {
        height: auto;
        word-wrap: break-word;
        width: 17rem;
        margin-top: 25rem;
    }
    #encrypt {
        width: 15rem;
        margin: auto;
        margin-top: 25%;
        font-size: 18px;
    }
    #text-encrypt img {
        display: none;
    }
    #adver {
        display: flex;
        margin: auto;
        width: 60%;
    }
    #adver img {
        width: 10px;
        height: 10px;
        margin-top: 7%;
    }
    #adver p {
        font-size: 12px;
    }
    #encrypt-button {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .copy-button {
        background-color: white;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    #text-encrypt h4 {
        height: auto;
        font-size: 18px;
        width: auto;
    }
    #elementos {
        background-color: white;
        height: auto;
        border-radius: 20px;
        top: 20;
    }
}
  